##Este Notebook veremos como usar la imputación de MV mediante la técnica de K-NN.

La manera más sencilla es usar la función KNNImputer de la libreria ScikitLearn.

Pueden encontrar información de la función [AQUI](https://scikit-learn.org/stable/modules/generated/sklearn.impute.KNNImputer.html)

In [1]:
# primero importaremos lo necesario
from sklearn.impute import KNNImputer
import numpy as np
import pandas as pd

Usaremos el data set de ejemplo sencillo primero:

In [2]:
datos = {'alumno': ['Zutano', 'Mengano', 'Zutano','Pepe' ,'Fulanito, Cosme', 'Maria', 'Juan', 'Pablo', 'Ana'],
         'Primera prueba': [np.nan, 8.5,7,7,np.nan, 4.5, 7.5, 1.0, 8.8],
         'Segunda prueba': [10,np.nan,9.8,4,np.nan,np.nan, 2.5, np.nan, np.nan],
         'observaciones':['ninguna','libre','ninguna','ninguna','libre','oyente','ninguna','libre','oyente'],
         'DNI':[23000000, 12389100,23000000, 99999, 1001,30406011, 1230000, 86758444, 9996696]}
df = pd.DataFrame(datos)
df

            alumno  Primera prueba  Segunda prueba observaciones       DNI
0           Zutano             NaN            10.0       ninguna  23000000
1          Mengano             8.5             NaN         libre  12389100
2           Zutano             7.0             9.8       ninguna  23000000
3             Pepe             7.0             4.0       ninguna     99999
4  Fulanito, Cosme             NaN             NaN         libre      1001
5            Maria             4.5             NaN        oyente  30406011
6             Juan             7.5             2.5       ninguna   1230000
7            Pablo             1.0             NaN         libre  86758444
8              Ana             8.8             NaN        oyente   9996696

In [26]:
# vamos a crear una copia de los datos originales
datos_knn = datos.copy()
datos_knn = pd.DataFrame(datos_knn)
datos_knn

            alumno  Primera prueba  Segunda prueba observaciones       DNI
0           Zutano             NaN            10.0       ninguna  23000000
1          Mengano             8.5             NaN         libre  12389100
2           Zutano             7.0             9.8       ninguna  23000000
3             Pepe             7.0             4.0       ninguna     99999
4  Fulanito, Cosme             NaN             NaN         libre      1001
5            Maria             4.5             NaN        oyente  30406011
6             Juan             7.5             2.5       ninguna   1230000
7            Pablo             1.0             NaN         libre  86758444
8              Ana             8.8             NaN        oyente   9996696

In [4]:
# creamos un objeto de KNN imputer. con 2 vecinos y parámetro weights = uniform. AVERIGUE QUE SIGNIFIQUE ESTE ULTIMO PARAMETRO!!
knn_imputer = KNNImputer(n_neighbors=2, weights="uniform")

###Es importante entregarle variables con datos numéricos. Ya que se calculan distancias y la distancia por defecto es la Euclidiana.

In [24]:
datos_knn[['Primera prueba', 'Segunda prueba']] = knn_imputer.fit_transform(datos_knn[['Primera prueba', 'Segunda prueba']])
datos_knn

            alumno  Primera prueba  Segunda prueba observaciones       DNI
0           Zutano        6.328571          10.000       ninguna  23000000
1          Mengano        8.500000           6.575         libre  12389100
2           Zutano        7.000000           9.800       ninguna  23000000
3             Pepe        7.000000           4.000       ninguna     99999
4  Fulanito, Cosme        6.328571           6.575         libre      1001
5            Maria        4.500000           6.575        oyente  30406011
6             Juan        7.500000           2.500       ninguna   1230000
7            Pablo        1.000000           6.575         libre  86758444
8              Ana        8.800000           6.575        oyente   9996696

###TAREA EN CLASES (15 MINUTOS)

####Pruebe variando el valor de K.

In [41]:
datos_knn = datos.copy()
datos_knn = pd.DataFrame(datos_knn)
datos_knn

knn_imputer = KNNImputer(n_neighbors=3, weights="uniform")

datos_knn[['Primera prueba', 'Segunda prueba']] = knn_imputer.fit_transform(datos_knn[['Primera prueba', 'Segunda prueba']])
datos_knn

            alumno  Primera prueba  Segunda prueba observaciones       DNI
0           Zutano        7.166667       10.000000       ninguna  23000000
1          Mengano        8.500000        5.433333         libre  12389100
2           Zutano        7.000000        9.800000       ninguna  23000000
3             Pepe        7.000000        4.000000       ninguna     99999
4  Fulanito, Cosme        6.328571        6.575000         libre      1001
5            Maria        4.500000        5.433333        oyente  30406011
6             Juan        7.500000        2.500000       ninguna   1230000
7            Pablo        1.000000        5.433333         libre  86758444
8              Ana        8.800000        5.433333        oyente   9996696

####Pruebe variando el valor de weights.

In [44]:
datos_knn = datos.copy()
datos_knn = pd.DataFrame(datos_knn)
datos_knn

knn_imputer = KNNImputer(n_neighbors=3, weights="distance")

datos_knn[['Primera prueba', 'Segunda prueba']] = knn_imputer.fit_transform(datos_knn[['Primera prueba', 'Segunda prueba']])
datos_knn

            alumno  Primera prueba  Segunda prueba observaciones       DNI
0           Zutano        7.012579       10.000000       ninguna  23000000
1          Mengano        8.500000        5.014286         libre  12389100
2           Zutano        7.000000        9.800000       ninguna  23000000
3             Pepe        7.000000        4.000000       ninguna     99999
4  Fulanito, Cosme        6.328571        6.575000         libre      1001
5            Maria        4.500000        5.605882        oyente  30406011
6             Juan        7.500000        2.500000       ninguna   1230000
7            Pablo        1.000000        5.510526         libre  86758444
8              Ana        8.800000        5.100000        oyente   9996696

####¿Cómo imputa el MV de Fulanito, Cosme si ambas variables tienen MV?

Con el knn_imputer se saca el valor de los vecinos, y se rellena con a fulanito y a zutano, puesto que estos tienen mising value, y para poder ejecutar, se tiene que completar con algun promedio o con algun valor vecino